<% flash.each do |message_type, message| %>
  <div>
    <%= message %>
  </div>
<% end %>
<div>
  <h2>ユーザー登録</h2>
  <%= form_with model: @user, local: true do |f| %>
    <div>
      <%= f.label 'メールアドレス' %>
      <%= f.email_field :email %><span>必須</span>
    </div>
    <div>
      <%= f.label 'パスワード' %>
      <%= f.password_field :password, value: "" %><span>必須</span>
    </div>
    <%= f.submit "登録する" %>
  <% end %>
</div>
