<div>
  <h2>グッズ情報登録</h2>
  <%= form_with model: @item, local: true do |f| %>
    <div>
      <%= f.label 'グッズ名' %>
      <%= f.text_field :name %><span>必須</span>
    </div>
    <div>
      <%= f.label '予約サイト' %>
      <%= f.text_field :pre_ordered_site_field.name %><span>必須</span>
    </div>
    <div>
      <%= f.label '発売予定日' %>
      <%= f.date_field :release_date %>
    </div>
    <div>
      <%= f.label '予約日' %>
      <%= f.date_field :pre_ordered_date %>
    </div>
    <div>
      <%= f.label '価格' %>
      <%= f.text_field :price %>
    </div>
    <div>
      <%= f.label 'メモ' %>
      <%= f.text_area :note %>
    </div>
    <%= f.submit "登録する" %>
  <% end %>
</div>
