<div>
  <h2>グッズ情報詳細</h2>

  <section>
    <h3>グッズ名</h3>
    <%= @item.name %>
  </section>
  <section>
    <h3>予約サイト</h3>
    <%= @item.pre_ordered_site.name %>
  </section>
  <section>
    <h3>URL</h3>
    <%= link_to @item.url, @item.url, target: "_blank", rel: "noopener" %>
  </section>
  <section>
    <h3>発売予定日</h3>
    <%= @item.formatted_release_date || '未登録' %>
  </section>
  <section>
    <h3>予約日</h3>
    <%= @item.formatted_pre_ordered_date || '未登録' %>
  </section>
  <section>
    <h3>価格</h3>
    <%= number_to_currency(@item.price, precision: 0, unit: "円") || '未登録' %>
  </section>
  <section>
    <h3>メモ</h3>
    <%= @item.note || '未登録' %>
  </section>
  <%= button_to '編集する', edit_item_path(@item), method: :get %>
  <%= link_to '削除', item_path(@item), data: { turbo_method: :delete, turbo_confirm: 'このグッズ情報を削除しますか？' } %>
</div>
